{% extends 'base.html.twig' %}

{% block body %}
    <form action="/" method="post">
        <button type="submit" class="btn btn-primary">acceuil</button>
    </form>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">deconnexion</button>
    </form>

    <h2>Bonjour {{ username }}</h2>
    <form action="/ajouterSerie" method="post">
        <button type="submit" class="btn btn-success">ajouter une serie</button>
    </form>

    <form action="/voirSeriePerso" method="post">
        <button type="submit" class="btn btn-primary">voir mes series</button>
    </form>

    <h1>Series manager</h1>
    <h3>Listes de mes series</h3>
    <div class="row">

    {%  for serie in series %}
    <div class="col-sm-3 col-offset-1" style="background-color: rgba(82, 119, 255, 0.27);border: 2px solid black" id="{{ serie.id }}">
            <h2>{{ serie.NameSerie }}</h2>
            Ajouté le {{ serie.date|date('d-m-Y') }}
            <p>{{ serie.NameSerie }}</p>
            <form action="/deleteSeriePerso" method="post">
                <input type="hidden" id="id" name="id" value="{{ serie.id }}" />
                <button type="submit" class="btn btn-danger">supprimer</button>
            </form>
        </div>
    {% endfor %}
    </div>

{% endblock %}